.creator-header {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    border-bottom: 1px solid #f0f0f0;
    .left {

    }

    .right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
    }

}