* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
    font-family: 'Public Sans',sans-serif
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul{
    li{

    }
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color:black;
}